@{
    ViewData["Title"] = "Bài Tập";
}

<div>
    <h3>Danh sách Bài tập</h3>
    <ol>
        <li>
        <a href="@Url.Action("Index", "Home")" class="text-decoration-none text-dark">
         Chương 1: Website cá nhân
        </a>
        </li>
        <li>
            
            <a href="@Url.Action("Index", "ThanhViens")" class="text-decoration-none text-dark">
                <i </i> Chương 1: Xây dựng ứng dụng web giới thiệu các thành viên của nhóm đang datagrid
            </a>
        </li>
        <li>Chương 3: Hãy thiết kế một số giao diện (Layout) thông dụng</li>
        <li>Chương 4: Hãy xây dưng Class (Model) tương ứng với Table bên CSDL</li>
        <li>Chương 5: Thảo luận nhóm về các mô hình lập trình web, công nghệ lập trình web hiện nay</li>
    </ol>
</div>

