@{
    ViewData["Title"] = "Trang Chủ";
}

<div id="wiki_page_show">
    <div class="header-bar-outer-container">
        <div class="sticky-toolbar" data-sticky="">
            <div class="header-bar page-toolbar as-course-home">
                <div class="page-toolbar-start">
                    <div class="page-heading">

                        <h2 class="course-title" title="Lập trình Web - 0370094.6 T2,T3 789">Lập trình Web - 0370094.6 T2,T3 789</h2>

                    </div>

                </div>
                <div class="page-toolbar-end">

                    <div class="buttons">
                    </div>
                </div>
            </div>
        </div>
        <div class="page-changed-alert" role="alert" aria-atomic="true" aria-live="polite"></div>
    </div>

    <div id="direct-share-mount-point"></div>


    <div class="show-content user_content clearfix enhanced">

        <p><strong><img src="@Url.Content("~/Images/ASP.NET-Core-Features.jpg")" alt="ASP.NET-Core-Features.jpg" width="530" height="265" data-api-endpoint="https://canvas.dntu.edu.vn/api/v1/courses/2701/files/174005" data-api-returntype="File"></strong></p>
        <p><strong>1. Giới thiệu/ Mô tả môn học:</strong></p>
        <p style="text-align: left;">Học phần “Lập trình Web” trang bị cho sinh viên hiểu biết về cách thiết kế một website thông qua việc nắm vững các khía cạnh quan trọng như thiết kế giao diện, thiết kế tương tác, thiết kế cơ sở dữ liệu và thiết kế các chức năng cơ bản của một website. Sinh viên sẽ có khả năng áp dụng kiến thức cơ bản về lập trình web, bao gồm ngôn ngữ C#, framework .NET Core, Bootstrap để xây dựng một ứng dụng web hoàn chỉnh. Ngoài ra, học phần cũng nhằm phát triển năng lực tự chủ và trách nhiệm của sinh viên, khuyến khích thái độ tích cực và trách nhiệm đối với bản thân và nhóm cũng như rèn luyện bản thân để thích ứng với nhu cầu của nghề nghiệp và xã hội.</p>
        <p style="text-align: left;"><strong>2. Mô tả chuẩn đầu ra của học phần (CLO)</strong></p>
        <table width="100%">
            <thead>
                <tr>
                    <td width="12%">
                        <p><strong>Ký hiệu</strong></p>
                    </td>
                    <td width="87%">
                        <p><strong>CĐR của học phần (CLOs)</strong></p>
                        <p><strong>Hoàn thành học phần này, sinh viên có năng lực</strong></p>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2" width="100%">
                        <p><strong>Kiến thức</strong></p>
                    </td>
                </tr>
                <tr>
                    <td width="12%">
                        <p>CLO1</p>
                    </td>
                    <td width="87%">
                        <p>Vận dụng HTML, CSS và JavaScript để tạo giao diện ứng dụng web trực quan và tương tác.</p>
                    </td>
                </tr>
                <tr>
                    <td width="12%">
                        <p>CLO2</p>
                    </td>
                    <td width="87%">
                        <p>Phân biệt được các thành phần quan trọng trong framework .NET Core như Middleware, Routing, Identity và Entity Framework Core.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" width="100%">
                        <p><strong>Kỹ năng</strong></p>
                    </td>
                </tr>
                <tr>
                    <td width="12%">
                        <p>CLO3</p>
                    </td>
                    <td width="87%">
                        <p>Hiệu chỉnh các thư viện, framework và công cụ hỗ trợ trong quá trình xây dựng ứng dụng web</p>
                    </td>
                </tr>
                <tr>
                    <td width="12%">
                        <p>CLO4</p>
                    </td>
                    <td width="87%">
                        <p>Xây dựng một ứng dụng web hoàn chỉnh, bao gồm việc tạo giao diện, xử lý logic và cơ sở dữ liệu</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" width="100%">
                        <p><strong>Năng lực tự chủ và trách nhiệm</strong></p>
                    </td>
                </tr>
                <tr>
                    <td width="12%">
                        <p>CLO5</p>
                    </td>
                    <td width="87%">
                        <p>Thích ứng được với sự phát triển của công nghệ phù hợp với nhu cầu của nghề nghiệp và xã hội.</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p><strong>3.&nbsp; Giáo trình</strong></p>
        <table style="height: 84px;" width="100%">
            <tbody>
                <tr style="height: 32px;">
                    <td style="height: 32px;" width="33%">
                        <p>Tên tài liệu</p>
                    </td>
                    <td style="height: 32px;" width="26%">
                        <p>Tác giả</p>
                    </td>
                    <td style="height: 32px;" width="16%">
                        <p>Năm xuất bản</p>
                    </td>
                    <td style="height: 32px;" width="16%">
                        <p>Nhà xuất bản</p>
                    </td>
                </tr>
                <tr style="height: 52px;">
                    <td style="height: 52px;" width="33%">
                        <p>Pro ASP.NET Core 7, Tenth Edition</p>
                    </td>
                    <td style="height: 52px;" width="26%">
                        <p>Adam Freeman</p>
                    </td>
                    <td style="height: 52px;" width="16%">
                        <p>2023</p>
                    </td>
                    <td style="height: 52px;" width="16%">
                        <p>Manning Publications</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p><strong>4. Thông tin liên lạc:</strong></p>
        <ul>
            <li>GV: Huỳnh Hoàng Tân. Điện thoại: 0989003396 (zalo)</li>
            <li>Zalo lớp: https://zalo.me/g/fejewm237<strong></strong></li>
        </ul>
        <p><strong>5. Nhiệm vụ của sinh viên</strong></p>
        <p>- Cần tham gia đầy đủ các buổi học trên lớp. Nếu SV vắng quá 20% sẽ bị cấm thi (giữa kỳ, cuối kỳ).</p>
        <p>- Sinh viên đi học phải ăn mặc lịch sự, phù hợp với môi trường giáo dục. Không sử dụng điện thoại trong lớp, không được nói chuyện và làm việc riêng. Nếu giảng viên nhắc nhở mà sinh viên vẫn tiếp tục vi phạm thì có thể bị mời ra khỏi lớp và thông báo để Khoa xử lý;</p>
        <p>- Phải đi học đúng giờ theo quy định. Nếu đi trễ quá 15 phút sinh viên không được vào lớp;</p>
        <p>- Lập các nhóm học tập (mỗi nhóm từ 2-3 SV), cử 1 nhóm trưởng;</p>
        <p>- Chuẩn bị bài trước khi đến lớp, như: làm bài tập, đọc trước tài liệu như đã hướng dẫn trong lịch trình giảng dạy.</p>

    </div>
</div>